body {
   padding-top: 50px;
    padding-bottom: 20px;
    font-family:'Comic Sans MS';
    font-size:larger;
    
    color:white;
   background-image:url('../../images/fruits-raquo-best-free.jpg');
  
}
.menu ul {
    list-style :none;
}

 .menu ul li a         
    {
        float : left;
        text-decoration : none;
        color : white;
        padding: 0px 40px;
        text-align : center;
        line-height : 42px;
        height:auto;

}
.menu ul li a:hover       /*hover effect*/
{       
 background-color:aqua;
        color:white;
}

header img {
    float: left;
    width: 200px;
    height: 250px;
}
.shell {
    width:980px; margin:0 auto;
}
#top{
    height:60px;
    background-color:darkgreen;
}
#header{
    height:61px;
}
