body {
   padding-top: 50px;
    padding-bottom: 20px;
    font-family:'Comic Sans MS';
    font-size:small;
    
    color:white;
   background-image:url('../../images/fruits-raquo-best-free.jpg');
  
}
.menu ul {
    list-style :none;
}

 .menu ul li a         
    {
        float : left;
        text-decoration : none;
        color : white;
        padding: 0px 40px;
        text-align : center;
        line-height : 42px;
        height:auto;

}
.menu ul li a:hover       /*hover effect*/
{       
 background-color:aqua;
        color:white;
}

header img {
    float: left;
    width: 200px;
    height: 250px;
}
.shell {
    width:980px; margin:0 auto;
}
#top{
    height:62px;
    width:unset;
    background-color:darkgreen;
}
#header{
    height:60px;
}

.footer{
margin-top: 100px ;
text-align: center ;
font-size: 16px ;
font-family: verdana ;
width: 600px ;
height: 50px ;
}
.show {
    max-width:50px;
         /*position:relative;*/
         position:center;
         margin: auto;
}
.show-btn-floating, .Shows-btn-floating{ 
cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 29px;
    border-radius: 0 3px 3px 0;

}
.Shows-btn-floating{
     right: 0;
     left:0;
  border-radius: 3px 0 0 3px;
}
div#fixedfooter{
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    color:white;
    background-color:darkgreen;
    padding:5px;
}
.logo{
    font-size:0;
    line-height:0;
    color:darkgreen;
    height:58px;
    float:left;
    background-position:left;
    
}
img.display {
    display: block;
    margin-left: auto;
    margin-right: auto;


}
.t{
    text-align:center;
    font-size:medium;
    color :white;

}

.slider 
{
    border-style:solid;
    width:auto;

}




