body {
   padding-top: 50px;
    padding-bottom: 20px;
    font-family:'Comic Sans MS';
    font-size:medium;
    
    color:white;
   /*background-image:url('../../images/fruits-raquo-best-free.jpg');*/
   /*background-image:url(../../images/)*/
   /*background-image: url('../images/fruits-raquo-best-free.jpg');*/
  
   /*background-position:center;*/
   /*background-color:#adad85;*/
   background:#adad85;

  
  
   
  
}
#pictureHome
{
 
    float:right;
    padding-left:100px;
    /*margin-top:-50px;*/
    border:5px solid;
   box-shadow:darkgreen;
   border-color:darkgreen;

   
    
   

    
}



#center 
{
    position:center;
    /*padding-right:100PX;*/
    width:1257px;
  margin-bottom:2px;
  margin-left:-8px;

 
  margin-right:-71px;
  
   
}
.menu ul {
    list-style :none;
}

 .menu ul li a         
    {
        float : left;
        text-decoration : none;
        color : white;
        padding: 0px 40px;
        text-align : center;
        line-height : 1px;
        height:auto;
       

}
ul.tab li a:focus, .active
{
    background-color: aqua;

}

 menu
 {
     margin-top:auto;
     margin-bottom:auto;
     

 }
.menu ul li a:hover       /*hover effect*/
{       
 background-color:aqua;
        color:white;
}
.direct{
    display:block;
    float:right;
    padding:20px;

}

header img {
    float: left;
    width: 200px;
    height: 250px;
}
.shell {
    width:980px; margin:0 auto;
}
#top{
    height: 113px;
    width: 1349px;
    background-color: darkgreen;
    margin-top: -74px;
    margin-left: -8px

}
#header{
    height:60px;
    text-align:center;
      
}
h1,h6,h3,h4,p{
    text-align:center;
}
h5 {
    font-size: medium;
    font-family: 'Comic Sans MS';
}
h7{
    text-align:right;
}

section{
    display:block;
}
.Container{
    width:710px;
    margin-top:30px auto 0;
    align-content:center;
}
#content{
    background:linear-gradient( to top ,#adad85 0% ,#adad85 0%, #808080 100%);
      background:-webkit-linear-gradient(bottom ,#adad85 0% ,#adad85 0%, #808080 100%);
      padding-top:30px;
          padding-bottom:30px;
}

.gallaryHolder {
    border: 5px solid;
    border-color: darkgreen;
    height: 600px;
    width: 894px;
    margin-left: 50px;
    padding-left: 100px;
}




.gallery{
    width:689px;
    margin-top:auto;
}
.gallery ul{
    list-style:none;
}
.gallery li{
    float:left;
    margin:10px;
    
}

.gallery img 
{
    display: block;
    /* padding: 5px; */
    border: 1px solid;
    box-shadow: #adad85;
    width: 150px;
    height: 126px
}
gallery img :hover{
    border:1px;
    cursor:pointer;
} 
#home{
display:block;
border:5px solid;
border-color:darkgreen;
width:454px;
height:250px;


}


.footer{
margin-top: 100px ;
text-align: center ;
font-size: 16px ;
font-family: verdana ;
width: 600px ;
height: 50px ;
}
.show {
    max-width:50px;
         /*position:relative;*/
         position:center;
         margin: auto;
}
.show-btn-floating, .Shows-btn-floating{ 
cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 29px;
    border-radius: 0 3px 3px 0;

}
.Shows-btn-floating{
     right: 0;
     left:0;
  border-radius: 3px 0 0 3px;
}
div#fixedfooter{
    position:fixed;
    bottom: -14px;
    left: 0px;
    width: 1339px;
    color: white;
    background-color: darkgreen;
    padding: 5px;
}
.logo{
    font-size:0;
    line-height:0;
    color:darkgreen;
    height:75px;
    float:left;
    background-position:left;
    margin-top:-111px;
 
    
}
.thuli
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:11px;
    margin-bottom:21px;
    opacity: 0.8;
    filter: alpha(opacity=80);
 
    
           
    
}

.t{
    text-align:center;
    font-size:medium;
    color :white;

}


.slider {
    border-style: solid;
    width: auto;
    opacity:0.2;
}
/*th
{
    font-size:large
}*/

#header{
  
}
#img{
    position:center;
    display:block;
}
/*.dl-horizontal{
    display:block;
    margin-top:1em;
    margin-bottom:1em;
    margin-left:0;
    margin-right:0;
}
th{
border:1px dotted darkgreen;
display:block;
/*vertical-align:inherit;*/
/*font-weight:bold;
text-align:center;
padding-left:50px;
width:80px;
height:40px;
}*/
/*td{
border:1px dotted darkgreen;
display:block;
/*vertical-align:inherit;*/
/*font-weight:bold;
text-align:center;
padding-left:100px;
width:80px;
height:40px;*/
/*}*/


#product {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    width:80px;
    height:40px;
    border:2px;
    
    
}
#product th, tr{
    border: 1px solid ;
    text-align: left;
    padding: 8px;

}
tr:nth-child(even) {
    background-color:#adad85 ;
}
.shoppingcart{
width:750px;
height:423px;
margin:80px auto;
background:#adad85 ;
box-shadow:#adad85;
border:1px solid;
display:flexbox;
flex-direction:column;
}
.item{
    padding:20px 30px;
    height:120px;
    display:flexbox;
}
.picofShopping{

}

.buttons{
position:relative;
padding-top:30px;
margin-right:60px;


}
.delete-btn, .like-btn{
    display:inline-block;
    cursor:pointer;
}
.delete-btn{
    width:18px;
    height:17px;
    background:#adad85;
}
.like-btn{
position:absolute;
top:9px;
left:15px;

background:#adad85;
width:60px;
height:60px;
background-size:2900%;
background-repeat:no-repeat ;


}
.picofShopping{

margin-right:50px;

}
.description{

padding-top: 10px;
  margin-right: 60px;
  width: 115px;

}

.qty{
    padding-top:20px;
    margin-right:60px;

}
.qty input{
    -webkit-appearance:none;
    border:none;
    text-align:center;
    width:32px;
    font-size:16px;
    color:#adad85;
    font-weight:300;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {

  margin-top: 2px;

}
button:focus,input:focus {

  outline:0;

}
#cartImages{
    float:right;

  position:left;

}
            







