
@{
    ViewBag.Title = "AboutUs";
}


<div>
<<<<<<< HEAD

   
=======
    dtcjvgkbhjnruxctjfvkbuh
    <img src="~/images/Veg.jpg" style="width:70px;height:50px;" />
>>>>>>> c282bfed5e6b770c366b3e6a29954f0a646b8a2e
</div>
