
@{
    ViewBag.Title = "AboutUs";
}


<div>
<h1 >Noko's Fruit and veg Supplies</h1>

    <table style="width:30%"  align="center">
        
        <tr>
            <td>We provide fresh organic fruits and vegetables, that is grown from our own farm. We also do deliveries for our customers.</td>
            
        </tr>
        <tr>
            <th>Company Overview </th>
        </tr>
        <tr>
            <td>Noko’s fruit & veg Supplies - was formed in 2010, as a small farm we’ve grown to the company we are today, we stay true to our promises and deliver fresh fruits and vegetables to our community and customers.</td>
            
        </tr>
    </table>

<<<<<<< HEAD
    <table style="width:30%"  align="center">

    <table style="width:30%" align="right">

=======
    <table style="width:30%" align="right">
>>>>>>> 0e674dc4ff6da7f44929e23400a7efcd7c74c2fc
        <tr>
            <th>Our Clients</th>
        </tr>

        <tr>
<<<<<<< HEAD
               <td> Pick n Pay, Shoprite ,SPAR</td>
        </tr>



        <tr>
        <td> 
            </td>
         </tr>

=======
        <td>jrjfjfjfkfkkgktkfkfkdjd iidkdjfffhff hfjdjkdkfkfkddd ififjdhdhdshsjjjdjj hdhdjdjdkkhgtkfkfk djdkksjeeuushdjfk kfkdkndjdmxjkdkdxxjdjdjjcjfjj jfjdxhsyhdhdnrnfn mmdmcncnfnfjdkdkd djfjfjfjfjjdnxn djdnxjdjdjfjjjdjfjdjjdjdjfk djddhdjdjejdjdjrri
            </td>
         </tr>
>>>>>>> 0e674dc4ff6da7f44929e23400a7efcd7c74c2fc
        </table>
</div>
