
@{
    ViewBag.Title = "AboutUs";
}




    <h1>Noko's Fruit and veg Supplies</h1>

    @*<table style="width:30%"  align="center">*@

    <p>
        <br> We are a company that it is based  in Pretoria and we specialise in fruits & vegetables<br />
        , that is  grown from our own farm
    </p>
    <h2>
        Company Overview
    </h2>
    <p>
        <br> Noko’s fruit & veg Supplies - was formed in 2010, as a small farm we’ve grown to the company we are today,<br />
        we stay true to our promises and deliver fresh fruits and vegetables to our community and customers.
    </p>
    <h3>
        Our Vision
    </h3>
    <p>
        To help people enjoy life by eating  healthy and to have our product in every household in South Africa.
    </p>
    <h5>
        Our Mission
    </h5>
    <p>
        To bring a permanent end to obesity and to improve the lives of all people affected by obesity.
    </p>
    <h3>Our Clients </h3>
    <p>
        Pick n Pay, Shoprite ,SPAR
    </p>

