
@{
    ViewBag.Title = "AboutUs";
}

<<<<<<< HEAD
<h2>Noko's fruit & veg Supplies</h2>
<div>

    <img src="~/images/Veg.jpg" style="width:70px;height:50px;" />
=======

<div>
<h1 >Noko's Fruit and veg Supplies</h1>

    <table style="width:30%"  align="center">
        
        <tr>
            <td>We provide fresh organic fruits and vegetables, that is grown from our own farm. We also do deliveries for our customers.</td>
            
        </tr>
        <tr>
            <th>Company Overview </th>
        </tr>
        <tr>
            <td>Noko’s fruit & veg Supplies - was formed in 2010, as a small farm we’ve grown to the company we are today, we stay true to our promises and deliver fresh fruits and vegetables to our community and customers.</td>
            
        </tr>
    </table>


    <table style="width:30%"  align="center">


        <tr>
            <th>Our Clients</th>
        </tr>

        <tr>

               <td> Pick n Pay, Shoprite ,SPAR</td>
        </tr>



        <tr>
        <td> 
        

        </table>
>>>>>>> 16956e7fa06f872705ed14c8e1fedf990f6294de
</div>
