
@{
    ViewBag.Title = "ContactUs";
}



<<<<<<< HEAD
<address >
    


        <br>
=======
    <address>
        <br />
>>>>>>> fb7286d9bc0f69631b79e533f95afbeb88336696
        Noko's Fruit & Veggy Supplies<br />
        12 Pretoria road<br />
        Kempton Park<br />
        <abbr title="Phone">Phone:</abbr>
        011 925 3115
<<<<<<< HEAD

</address>
=======
    </address>
>>>>>>> fb7286d9bc0f69631b79e533f95afbeb88336696

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">mthlathla@yahoo.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">nokuthulazwane40@gmail.com</a>

    </address>

<<<<<<< HEAD
</address>
   
=======
>>>>>>> fb7286d9bc0f69631b79e533f95afbeb88336696
