<!DOCTYPE html>
<html>
@{
    ViewBag.Title = "Catalogue";
}
<head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="~/css/Supplier.css" />

    
   
   

</head>

<body>
    @{
        ViewBag.Title = "ContactUs";
    }

    <div>
        




        <address>
            <p>We provide fresh organic fruits and vegetables, that is grown from our own farm.</p>
            <p> We also do deliveries for our customers.</p>
            <p>Please leave your details below we will contact you</p>

            @*<div>
                <form action="action_page.php">
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstname">

                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lastname">

                    <label for="E-mail Address">E-mail Address</label>
                    <input type="text" id="email" name="E-mail Address">


                    <input type="submit" value="Submit">
                </form>*@



            <br>


            <br />
            Noko's Fruit & Veggy Supplies<br />
            12 Pretoria road<br />
            Kempton Park<br />
            <abbr title="Phone">Phone:</abbr>
            011 925 3115


        </address>




        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">mthlathla@yahoo.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">nokuthulazwane40@gmail.com</a>

        </address>
    </div>

</body>
</html>
