
@{
    ViewBag.Title = "ContactUs";
}

<h2>ContactUs</h2>

<address>
    <br />
    Noko's Fruit & Veggy Supplies<br />
    12 Pretoria road<br />
    Kempton Park<br />
    <abbr title="Phone">Phone:</abbr>
    011 925 3115
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">mthlathla@yahoo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">nokuthulazwane40@gmail.com</a>

</address>
