@{
    ViewBag.Title = "Index";
    

}

<!DOCTYPE html>

<html>

<head>
   
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/Supplier.css" />
    <title></title>
   
</head>

<body>

    <div id="center">
        
        <img src="/images/Noko's Header1.jpg" width="1349px">
        <section id="home">

            <div class="Container" style="text-align:left">

                <br>We provide fresh organic fruits and vegetables that is<br/>
                <br>grown from our own farm.<br />
                <br>We also do deliveries for our customers <br />
                <br>we stay true to our promises and deliver<br />
                <br>fresh fruits and vegetables to our community and customers.<br />
            </div>
        </section>

        <div id="pictureHome">
            <img src="~/images/fruity.png"/>
        </div>


       
        </div>
    


</body>

</html>
