@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/layoutPage.cshtml";

}

<!DOCTYPE html>
<header>
    <figure>
    <img src="~/images/Logo.png" />
        </figure>
</header>

<html>
<head>
   
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/Supplier.css" />
    <title></title>
   
</head>
<body>
    <div >
     
   </div>
</body>

</html>
