@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/layoutPage.cshtml";

}

<!DOCTYPE html>

<html>
<head>
   
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/Supplier.css" />
    <title></title>
   
</head>
<body>

    <div id="center">
        
        <img src="/images/Noko's Header1.jpg" width="1349px">
        <section id="home">

            <div class="Container">

                <p>We provide fresh organic fruits and vegetables that is</p>
                <p>grown from our own farm.</p>
                <p>We also do deliveries for our customers </p>
                <p>we stay true to our promises and deliver</p>
                <p>fresh fruits and vegetables to our community and customers.</p>
            </div>
        </section>

        <div id="pictureHome">
            <img src="~/images/fruity.png"/>
        </div>


       
        </div>
    


</body>

</html>x
