<!DOCTYPE HTML>
<html>


@{
    ViewBag.Title = "Product";
}
<head>

</head>
<body>
    <div class="container">
        <header>Our Products</header>

        <section id="content">
            <h1> Our  Fruits and Vegetables </h1>
            <div class="gallery">
                <ul>
                    <li> <img src="~/images/lett.png" style="width:50%" /> </li>
                    <li> <img src="~/images/tom.png" style="width:50%" /></li>
                    <li><img src="~/images/zambane.png" style="width:50%" /></li>
                    <li><img src="~/images/pepr.png" style="width:50%" /></li>
                   
                </ul>

                

                <ul>
                  

                    <li><img src="~/images/ap.png" style="width:50%" /></li>
                    <li><img src="~/images/orange.png" style="width:50%" /></li>
                    <li><img src="~/images/edited.png" style="width:50%" /></li>
                    
                </ul>
            </div>
        </section>
         </div>
     
    </div>

</body>
</html>


