<!DOCTYPE HTML>
<html>


@{
    ViewBag.Title = "Product";
}
<head>

</head>
<body>
   
    <div class="container">
        @*<header>Our Products</header>*@

        <section id="content">
            <h1> Our  Fruits and Vegetables </h1>
            <div class="gallaryHolder">

            <div class="gallery">
                <ul>
                    <li> <img src="~/images/lett.png" /> </li>
                    <li> <img src="~/images/tom.png"  /></li>
                    <li><img src="~/images/zambane.png" /></li>
                    <li><img src="~/images/pepr.png" /></li>
                   
                </ul>

                

                <ul>
                  
                    <a href="http://localhost:8080/Home/Product"> <li><img src="~/images/appl.png" /></li></a>
                    <li><img src="~/images/ap.png" /></li>
                    <li><img src="~/images/orange.png" /></li>
                    <li><img src="~/images/edited.png" /></li>
                    <li><img src="~/images/paw.png" /></li>
                    
                </ul>
            </div>
            </div>
        </section>
         </div>
     
    </div>

</body>
</html>


