
@{
    ViewBag.Title = "Product";
}

<div>
    <h1>Noko's Fruit and veg Supplies</h1>
    <table style="width:60%">
        
        <tr>
          <td><img src="~/images/pump.png" style="width:50%"></td>
          <td><img src="~/images/bet.png" style="width:50%"></td>
          <td><img src="~/images/lett.png" style="width:50%"></td>
          <td><img src="~/images/pepr.png" style="width:50%"></td>
        </tr>
        <tr>
            <td>Pumkin<br /> R10 per kg <br />R100/12kg</td>
            <td>Beetroot <br />R10 per kg <br />R100/12kg</td>
            <td>Lettuce<br /> R10 per kg <br />R100/12kg</td>
            <td>Pepper<br /> R10 per kg <br />R100/12kg</td>


        </tr>
        <tr>
            <td><img src="~/images/edited.png" style="width:50%"></td>
            <td><img src="~/images/orange.png" style="width:50%"></td>
            <td><img src="~/images/pump.png" style="width:50%"></td>
        </tr>
        <tr>
            <td>Banana<br /> e <br />yellow</td>
            <td>Grapes <br />e <br />yellow</td>
            <td>Orange<br /> e <br />yellow</td>
            <td>pumkin<br /> e <br />yellow</td>


        </tr>     <tr>
          <td><img src="~/images/pump.png" style="width:50%"></td>
          <td><img src="~/images/pump.png" style="width:50%"></td>
          <td><img src="~/images/pump.png" style="width:50%"></td>
          <td><img src="~/images/pump.png" style="width:50%"></td>
        </tr>
        <tr>
            <td>pumkin<br /> e <br />yellow</td>
            <td>pumkin <br />e <br />yellow</td>
            <td>pumkin<br /> e <br />yellow</td>
            <td>pumkin<br /> e <br />yellow</td>


        </tr>
    </table>
</div>



