@{
    Layout = "ProductDetails";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/Supplier.css" />
    
</head>
<body>
    <div>
    
    </div>
</body>
</html>
